* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.webdesignImg {
  width: 50%;
}
.static {
  background-color: #52b788;
  width: 95%;
  border-radius: 15px;
}
.dynamic {
  background-color: violet;
  width: 85%;
  border-radius: 15px;
}
