* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.requirement-section {
  background-color: #5390d9;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
